<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ratione optio rem quia obcaecati!
         Ipsam numquam nostrum illum minima, hic officiis nemo! Velit earum id porro blanditiis odit repudiandae numquam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, iste eligendi! Quas illum magnam non ipsum reiciendis eos commodi recusandae iusto.
         Quos asperiores ducimus quia! Praesentium iure voluptatibus quisquam aperiam!
    </p>
</body>
</html>